/*変数*/
:root {
    /*フォントサイズ*/
    --fs-base: 12px;
    --fs-xxl: 2em;
    --fs-xl: 1.5em;
    --fs-l: 1.2em;
    --fs-m: 1em;
    --fs-s: 0.8em;
    --fs-xs: 0.6em;

    /*カラー*/
    --c-bg: #333333;
    --c-accent:#FF66CC;
    --c-text: #CCCCCC;
    --c-a-link: #CCCCCC;
    --c-a-visited: #999999;
    --c-a-hover: #FF66CC;
    --c-a-active: #FF66CC;
    --c-hr-text: #CCCCCC;

    /*テキスト*/
    --tx-lh: 1.5em;

    /*水平線*/
    --hr-text-size: 0.6rem;
    --hr-text-top: -0.5rem;
    --hr-text-pad: 0.5rem;
    
    /*大きさとか*/
    --illust-menu-width:300px;
}

/*共通*/
html {
    font-size: var(--fs-base);
    line-height: var(--tx-lh);
}

body {
    background-color: var(--c-bg);
    color: var(--c-text);
}

h1 {
    font-size: var(--fs-xxl);
}

h2 {
    font-size: var(--fs-xl);
}

h3 {
    font-size: var(--fs-l);
}

h4 {
    font-size: var(--fs-m);
}

h5 {
    font-size: var(--fs-s);
}

h6 {
    font-size: var(--fs-xs);
}

small {
    font-size: var(--fs-s);
}

a:link {
    color: var(--c-a-link);
}

a:visited {
    color: var(--c-a-visited);
}

a:hover {
    color: var(--c-a-hover);
}

a:active {
    color: var(--c-a-active);
}

div.center {
    text-align: center;
}

div.inline {
    display: inline-block;
    text-align: left;
}

div.maincontainer{
    max-width: 800px;
}

div.inline-right {
    display: inline-block;
    text-align: right;
}

span.accent{
    color: var(--c-accent);
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    height: 1px;
    position: relative;
    overflow: visible;
    border-width: 0;
    width: 90%;
    margin-left: 0;
    background-image: linear-gradient(90deg,
        var(--c-text) 50%,
        transparent);
}

hr::after {
    position: relative;
    display: inline-block;
    content: attr(data-content);
    top: var(--hr-text-top);
    padding-right: var(--hr-text-pad);
    font-size: var(--hr-text-size);
    color: var(--c-hr-text);
    font-family: 'Press Start 2P', cursive;
    background: var(--c-bg);
}

hr.menu {
    text-align: center;
    width: 500px;
    margin-left: auto;
    background-image: linear-gradient(90deg,
        transparent,
        var(--c-text) 50%,
        transparent);
}

hr.menu::after {
    padding-left: var(--hr-text-pad);
}

iframe {
    border: none;
}

/*アイコン付きリンク*/

ul.icon {
    position: relative;
    left: -3em;
}

ul.icon li {
    list-style-type: none;
}

ul.icon li::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    position: relative;
    left: -0.25em;
    color: var(--c-text);
}

#icon-illust::before {
    font-weight: 900;
    content: "\f03e";
}

#icon-game::before {
    font-weight: 900;
    content: "\f11b";
}

#icon-memo::before {
    font-weight: 900;
    content: "\f0c7";
}

#icon-twitter::before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
    content: "\f099";
}

#icon-youtube::before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
    content: "\f167";
}

#icon-link::before {
    font-weight: 900;
    content: "\f35d";
}

/*ホームページ*/
.home-title {
    font-weight: normal;
    font-family: 'Press Start 2P', cursive;
}

.home-subtitle {
    font-size: var(--fs-m);
}

.home-menu {
    display: inline-block;
    text-align: left;
    font-size: var(--fs-l);
    line-height: 3rem;
}

.home-menu li{

}

.home-menu li::after{
    position:relative;
    content: attr(data-content);
    font-size: var(--fs-s);
    left:1em;
}

/*イラスト*/

.illust-menu{
    position: relative;
    width: var(--illust-menu-width);
    height: 100%;
}

.illust-main {
    position: absolute;
    top: 0;
    right: 0;
    left: var(--illust-menu-width);
    width: 840px;
    height: 100%;
}

iframe.main{
    width: 100%;
    height: 100%;
}

img.illust {
    max-width: 400px;
}

/*表*/
.table-common{
    border-collapse: collapse;
    width:100%;
}
.table-common th{
}

@media only screen and(max-width:800px){
    .table-common tr,.table-common th,.table-common tr{
        display: block;
        width: auto;
    }
}