/*変数*/
:root {
    /*フォントサイズ*/
    --fs-base: 14px;
    --fs-xxl: 2rem;
    --fs-xl: 1.5rem;
    --fs-l: 1.2rem;
    --fs-m: 1rem;
    --fs-s: 0.8rem;
    --fs-xs: 0.6rem;

    /*カラー*/
    --c-bg: #9b9b9b;
    --c-main:#fef4f4;
    --c-accent: #f3a1b8;
    --c-text: #5d5d5d;
    --c-head: #fdfdfd;
    --c-a-link: #5d5d5d;
    --c-a-visited: #999999;
    --c-a-hover: #f3a1b8;
    --c-a-active: #fdfdfd;
    --c-hr: #5d5d5d;

    /*テキスト*/
    --tx-lh: 1.5rem;

    /*水平線*/
    --divider-size: 1px;
    --divider-gap: 0.5rem;

    /*大きさとか*/
    --illust-menu-width: 300px;
}

/*共通*/
html {
    font-size: var(--fs-base);
    line-height: var(--tx-lh);
}

body {
    background-color: var(--c-bg);
    color: var(--c-text);
}

h1 {
    margin-top: 0;

    font-size: var(--fs-xxl);
}

h1.head {
    background: var(--c-text);
    color: var(--c-head);
    padding: 0.5em;
    border-radius: 0.5em;
    border-left: solid 0.5em var(--c-accent);
}

h1.head:first-letter {
    color: var(--c-accent);
}

h2 {
    font-size: var(--fs-xl);
}

h2.head {
    background: var(--c-accent);
    color: var(--c-text);
    padding: 0.5em;
    border-radius: 0.5em;
    border-left: solid 0.5em var(--c-text);
}

h3 {
    font-size: var(--fs-l);
}

h3.head {
    padding: 0.3em;
    border-radius: 0.5em;
    border-left: solid 0.5em var(--c-accent);
}

h4 {
    font-size: var(--fs-m);
}

h5 {
    font-size: var(--fs-s);
}

h6 {
    font-size: var(--fs-xs);
}

small {
    font-size: var(--fs-s);
}

a:link {
    color: var(--c-a-link);
}

a:visited {
    color: var(--c-a-visited);
}

a:hover {
    color: var(--c-a-hover);
}

a:active {
    color: var(--c-a-active);
}

div.maincontainer {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 1rem;
    border-radius: 1em;
    background-color: var(--c-main);
}

div.center {
    text-align: center;
}

div.inline {
    display: inline-block;
    text-align: left;
}

div.inline-right {
    display: inline-block;
    text-align: right;
}

div.text-divider-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--hr-text-size);
    font-family: 'Press Start 2P', cursive;
}

.text-divider-menu::before,
.text-divider-menu::after {
    content: '';
    height: var(--divider-size);
    background-color: var(--c-hr);
    width: 200px;
}

.text-divider-menu::before {
    margin-right: var(--divider-gap);
}

.text-divider-menu::after {
    margin-left: var(--divider-gap);
}

hr {
    height: var(--divider-size);
    border: none;
    background-color: var(--c-hr);
}

span.accent {
    color: var(--c-accent);
}

/*アイコン付きテキスト*/

span.icon::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    position: relative;
    left: -0.25em;
    color: var(--c-accent);
}

#icon-illust::before {
    font-weight: 900;
    content: "\f03e";
}

#icon-game::before {
    font-weight: 900;
    content: "\f11b";
}

#icon-memo::before {
    font-weight: 900;
    content: "\f0c7";
}

#icon-twitter::before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
    content: "\f099";
}

#icon-youtube::before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
    content: "\f167";
}

#icon-link::before {
    font-weight: 900;
    content: "\f35d";
}

/*ホームページ*/
.home-title {
    line-height: 3rem;
    font-weight: normal;
    font-family: 'Press Start 2P', cursive;
    background: var(--c-text);
    color: var(--c-head);
    padding: 0.5em;
    border-radius: 0.5em;
    border-left: solid 1em var(--c-accent);
    border-right: solid 1em var(--c-accent);
}

.home-subtitle {
    font-size: var(--fs-m);
}

.home-menu-table {
    display: inline-block;
    text-align: left;
    line-height: 3rem;
    border-spacing: 1rem 0rem;
}

.home-menu-table td.item {
    text-align: right;
    font-size: var(--fs-l);
}

/*画像*/

.illust-menu {
    position: relative;
    width: var(--illust-menu-width);
    height: 100%;
}

.illust-main {
    position: absolute;
    top: 0;
    right: 0;
    left: var(--illust-menu-width);
    width: 840px;
    height: 100%;
}

iframe.main {
    width: 100%;
    height: 100%;
}

img.illust {
    max-width: 400px;
}

/*表*/
.table-common {
    border-collapse: collapse;
    width: 100%;
}

.table-common th {}

@media only screen and(max-width:800px) {

    .table-common tr,
    .table-common th,
    .table-common tr {
        display: block;
        width: auto;
    }
}

